@import "tailwindcss";
@import "tw-animate-css";


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: black;
}

nextjs-portal {
  display: none;
}

body {
  padding-right: 0 !important;
  overflow: auto !important;
}
